body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}
.stateHolder{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(61, 226, 43);
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}